@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

:root {
  /* === BACKGROUNDS === */
  --color-bg-primary: #050505;
  --color-bg-secondary: #1C1B1F;
  /* === COLORS === */
  --color-botons:#1D546D;
  --color-details: #5F9598;
  --color-terciary:#A1A1AA;
  /* === TEXT === */
  --color-text-primary: #ffffff;
  --color-text-secondary: #000000;
  --color-text-muted: rgba(255, 255, 255, 0.15);
  /* === TYPOGRAPHY === */
  --font-primary: "Inter", sans-serif;

  /* === SPACING === */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 40px;
  --space-2xl: 64px;

  /* === BORDER RADIUS === */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-full: 9999px;
}

body {
  color: var(--color-text-primary);
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
  min-height: 100vh;
  background: #020617;
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 10;
  min-height: 100vh;
}

.navbar {
  position: relative;
  z-index: 50;
}

.grainient-container {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}
::-webkit-scrollbar {
  width: 8px;
  background: #080308;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {  
    background: #ff6b00;
    border-radius: 10px;
    transition: .5s;
}
::-webkit-scrollbar-thumb:hover {
    background: #ff3b00;
}
.container{
  max-width: 100%;
  padding: 3% 0% 0% 0%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
/* =========================
   WHATSAPP FLOAT
========================= */

.whatsapp-float {
  position: fixed;

  right: 24px;
  bottom: 24px;

  width: 65px;
  height: 65px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #25D366,
    #1ebe5d
  );

  color: white;

  font-size: 2rem;

  z-index: 9999;

  text-decoration: none;

  box-shadow:
    0 0 20px rgba(37,211,102,0.45),
    0 0 40px rgba(37,211,102,0.15);

  transition: 0.4s ease;
}

.whatsapp-float:hover {
  transform: translateY(-6px) scale(1.08);

  box-shadow:
    0 0 30px rgba(37,211,102,0.7),
    0 0 60px rgba(37,211,102,0.25);
}

/* MOBILE */

@media (max-width: 768px) {

  .whatsapp-float {
    width: 58px;
    height: 58px;

    font-size: 1.7rem;

    right: 18px;
    bottom: 18px;
  }
}